/* formatage du texte */
a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

.nav li a{
	color:white;
	text-shadow: 0px 0px 4px black;
	font-size: 1.2em;
}

.nav .subnav .subsubnav{
	font-size: 0.8em;
}

.section h1{
	color:white;
	text-shadow: 0px 0px 4px black;
	font-size: 1.2em;
}

/*	le modéle des boites */
body, ul, li,.footer, .header, .nav{
	margin: 0px;
	padding: 0px;
}

.section{
	margin: auto;
	padding: 0px;
	width: 1000px;
	min-height: 300px;
}

.section h1{
	background-image:url("img/1741.png");
	margin:0px;
	padding: 20px;
}

.footer{
	min-width:1000px;
	height:150px;
	margin-top: 50px;
}

.header{
	min-width:1000px;
	height:150px;
	overflow: hidden;
}

#headerImg{
	display:block;
	margin:auto;
	width: 280px;
}

.nav{
	min-width:1000px;
	padding:0px;
	height:40px;
	margin-bottom:50px;
}

.nav li{
	float:left;
	margin-right:5px;
	display: block;
}

.nav a{
	margin:0px;
	padding:10px;
	display: block;
	height: 20px;
}

.nav .subnav{
	margin:0px;
	padding:0px;
	display: none;
	position: absolute;
}

.nav .subnav .row{
	margin: 0px;
	padding: 10px;
	display: block;
	float: left;
}

.nav .subnav .subsubnav{
	margin:0px;
	padding:0px;
	padding-left:10px;
	float: none;
}

.nav li:hover > .subnav{
	display: block;
}

.nav .subnav a{
	margin: 0px;
	padding: 0px;
}
.nav .subnav li{
	margin: 0px;
	padding: 0px;
	float: none;
}

.nav .conect{
	margin:0px;
	float: right;
	width: 150px;
}

.nav .conect p{
	margin: 0px;
	padding: 10px;
}

.nav .conect form input{
	margin: 0px;
	margin-bottom:3px;
	padding: 0px;
	width: 128px;
}

.section .form{
	padding: 20px;
}

.form input,.form label{
	margin: 10px;
}

.form label{
	display: block;
	width: 150px;
	float: left;
}
/* les bordure */
.section{
	box-shadow:0px 0px 10px 10px rgba(0,0,0,0.4);
}

.section h1{
	border-bottom:1px solid black;
}

.nav{
	box-shadow:0px 0px 10px 5px rgba(0,0,0,0.2);
}

/* background */
body{
	background-color:gray;
	background-image: url("img/1334.png");
}

.section{
	background-color:white;
}

.form input{
	background-image:url("img/1334.png") ;	
}
.conect input{
	background-image:url("img/1334.png") ;
}
.header{
	background-color: gray;
	background-image: url("img/terabaniere.jpg");
	background-repeat: repeat-x;
	background-position: center;
}

.nav{
	background-color: red;
	background-image: url("img/1741.png")
}

.nav li,.nav .subnav{
}

.nav li:hover,.nav li:hover > .subnav{
	background-color: rgba(50,50,50,0.7);
}

.nav .subnav li{
/* 	background-color: grey; */
}

.footer{
	background-color: rgba(20,20,20,0.8);
}

.footer .imgcontainer{
	margin: 0px;
	padding: 0px;
	padding-top:20px;
	width: 555px;
	height:60px;
	margin: auto;
	overflow: hidden;
}

/* les image */
.footer img{
	height: 50px;
}
